a:hover {
    text-decoration: none !important;
}

.row {
    margin-top: 15px;
}

.nav.nav-left > li > a {
    border-top: 1px solid #EBEBEB;
    border-left: 5px solid transparent;
}

.nav.nav-left > li > a:hover, .nav.nav-left > li > a:focus {
    border-left: 5px solid #DD4814;
}

.profile .image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.profile .info {
    margin-left: 15px;
}

.profile a:hover, .left-profile a:focus {
    text-decoration: none;
}

.no-decoration a:hover {
    text-decoration: none;
}

.media .media-icons {
    display: none;
    -moz-transition: 0.8s 0.1s ease;
    -o-transition: 0.8s 0.1s ease;
    -webkit-transition: 0.8s 0.1s ease;
}

.media:hover .media-icons {
    display: inline;
}

.container-fluid {
    margin-top: 15px;
}

.navbar .container-fluid {
    margin-top: 0;
}

.navbar-custom-menu {
    background-color: #EEEEEE;
    min-height: 23px !important;
    height: 23px !important;
}
.navbar-custom-menu .container-fluid {
    height: 23px !important;
}
.navbar-custom-menu .nav li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
}

.navbar-default.navbar-fixed-top {
    top: 23px;
    min-height: 30px;
}

.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.navbar-default .navbar-brand {
    padding: 0 15px !important;
}

.navbar-default .navbar-brand img {
    height: 33px;
}

.navbar-default .navbar-brand {
    height: 33px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 6px;
}

.navbar-default .navbar-form {
    margin-top: 2px;
    margin-bottom: 1px;
}

@media (max-width: 920px) {
    .top-orange-menu .create-topic{
        display: none !important;
    }
    .top-orange-menu .navbar-nav > li > a{
        padding: 7px 7px 6px 7px !important;
    }

}

.top-orange-menu .navbar-nav {
    float: left;
    margin: 0;
}

.top-orange-menu .navbar-nav > li {
    float: left;
}

.top-orange-menu .navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-header {
    float: left;
}

.top-orange-menu input, .top-orange-menu button {
    height: 30px;
    padding: 0 12px;
}

@media (max-width: 767px) {
    .top-orange-menu form{
        display: none !important;
    }
    .top-orange-menu .nav-pills  > li > a{
        padding: 9px 7px !important;
    }

}

@media (min-width: 920px) {
    .top-orange-menu .nav-pills  > li > a{
        padding: 16px 10px !important;
    }

}

.rss .rss-left {
    display: block;
    float: left;
    padding: 0 15px 5px 0;
}

.rss .rss-body {
    display: inline;
}

.rss .rss-share {
    margin-top: 5px;
}

.rss .rss-thumb {
    width: 50px;
}

.rss .rss-img {
    width: 100%;
    /*max-height: 200px;*/
    border: 1px solid #EBEBEB;
}

.bgleft {
    font-size: 12px;
}

.page-header h1 {
    font-size: 30px;
}

body::-webkit-scrollbar-track
{
    background-color: #F7F7F7;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #FFFFFF;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #EBEBEB;
}

.sources-block .subscribe {
    border: 2px solid #2bb24c;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #FFF;
    color: #2bb24c;
    font-size: 20px;
    padding: 5px 8px;
    line-height: 14px;
    transition: 0.3s;
}

.sources-block .unsubscribe {
    border: 2px solid #aea79f;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #FFF;
    color: #aea79f;
    font-size: 20px;
    padding: 5px 8px;
    line-height: 14px;
    transition: 0.3s;
}

.sources-block .rss {
    height: 50px;
}

.sources-block .rss .media-heading {
    height: 70px;
    overflow: auto;
}
.table-news{
    color: #dd4814;
}
.news-category{
    display: inline-block;
    font-weight: 600;
    color: #aea79f;
    font-size: 14px;
}
.news-date{
    color: #aea79f;
    display: inline-block;
    float: right;
    font-size: 12px;
}
.news-title{
    font-size: 12px;
}
.news-title-table{
    text-align: center;
    color: #dd4814;
}
.col-xs-6 .category-block{

    /*width: 200px;*/
    /*height: auto;*/
    /*background: url('http://localhost/walltyper/upload/news/image_1456555062_70069698.jpg') no-repeat;*/
    background-size: cover;
    background-position: 50%;
    height: 150px;
    background-color: #EEE;

}
.plus-category,.minus-category,.count-user{
    display: inline-block;
}
.news_button li{
    margin-left: -15px;
    margin-right: -15px;
}
.news_button{
    margin-top: 15px;
}