/* login box */
.loginbox {
  width: 220px;
}


/* login inputs */
.lin {
	width: 100%;
}

/* info section headers */
.infosec {
	border:1px outset;
	cursor:pointer;
}

/* right panel */
.panel {
	width:160px;
}
/* arastir dropdown select */
.asl
{
	width:109px;
}
/* ad box */
.spot {
  width: 120px;
  float:right;
}
.spot TD {
  font-size: 7pt;
}

/* badilist */
#badi
{
  width: 120px;
  padding: 2px;
  font-size: 7pt;
  overflow: hidden;
  border: 1px solid #D8D8D8;
  background-color: #F5F5F5;
}
/* inline search textbox */
.aratext
{
  width:96px;
}
/* left frame background class */
.bgleft {
}
/* top frame background class */
.bgtop {
	margin:0;
	padding:0;
	background-image: url(lustfm_top.jpg);
background-position: top left;
background-repeat: repeat-x;
background-attachment: fixed;
color: #fff;
}
/* inline search marker */
.marker
{
background-color: #FFE9EF;
border-bottom: 1px solid #D20039;
	color: #000;
}
/* pager buttons */
.pbut {
  font-size: 7pt;
  width:16px;
  height:16px;
}
/* top buttons */
.nav TD {
  padding:2px;
  height:16px;
  margin:0;
  vertical-align:middle;
}
/* panel leds */
.pmsg a,.pbin a,.pevt a{
text-transform: uppercase;
  font-weight:normal;
  font-size:10px;
  height:14px;
  font-family:verdana; 
  color:#b4b4b4;
  text-decoration: none;
}

.pmsghi a,.pbinhi a,.pevthi a {
text-transform: uppercase;
   font-weight:normal;
   font-size:10px;
   color:#CA3555;
   border: none;
   font-family:verdana;
   height:14px;
}
.pmsghi, .pbinhi, .pevthi {
text-transform: uppercase;
	background-color: transparent;
	color: #d0a700;
	width: 50px;
	height: 40px;
	border: none;
	background-image: url(lustfm_on.jpg);
	background-position: top;
	background-repeat: no-repeat;
	vertical-align: bottom;
}
.pmsg, .pbin, .pevt {
text-transform: uppercase;
	background-color: transparent;
	width: 50px;
	height: 40px;
	border: none;
	background-image: url(lustfm_off.jpg);
	background-position: top;
	background-repeat: no-repeat;
	vertical-align: bottom;
}
/* page browser text */
.pagi {
  font-size: 7pt;
  text-align: center;
}
/* page selector (select) */
.pagis {
  font-size: 6pt;
}
/* ek$isozluk logo! */
.logo {
  background-image: url(logometal.png);
  background-repeat: no-repeat;
  width:233px;
  height:45px;
}
/* highlight color */
.highlight
{
  background-color: #F3F3F3;
}
/* copyright line */
.copyright
{
  font-size: 7pt;
  color: #909090;
}
/* topic title */
.title {
  font: bold 12pt Verdana, sans-serif;
  background-color: transparent;
  width: 94%;
  color: #B50030;
  border: none;
  background-image: url(lustfm_title.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1px;
  line-height: 20px;
  height: 20px;
}
/* buttons */
.but {
  font: 8pt arial,sans-serif;
  text-align:center;
  white-space:nowrap;
  cursor: default;
  color: white;
  background-color: #464646;
  border: 1px outset #797979;
  background-image: url(lustfm_but2.jpg);
}
/* button mouse over */
#butover {
  background-color: #D20039;
  border: 1px outset #FF0048;
  background-image: url(lustfm_but1.jpg);
}
/* button pressed */
#butDown {
	border: 1px outset;
}
/* button link adjustments */
.but A {
  color:white;
}
.but A:Hover {
  background-color: transparent;
  color:white;
}
#butOver A {
  color:white;
}
#butOver A:Hover {
  background-color: transparent;
  color:white;
}
/* entry buttons (derived from but) */
.icon {
  font-size: 7pt;
}
.timer {
  font-size: 7pt;
  vertical-align: middle;
}
/* entry author line */
.aul {
  font-size: 8pt;
  line-height: 9pt;
  text-align: right;
}
/* panel classes */
.pi {
  border: none;
  font-size: 7pt;
  padding: 0px;
  text-align: center;
}
.pi A:Hover {
  background-color: transparent;
}
/* top inputtexts */
.input {
  height:16px;
  font: 7pt Verdana, sans-serif;
  background-color: #EBEBEB;
  border: 1px solid #B9B9B9;
  	background-image: url(lustfm_tile.gif);
	background-repeat: repeat;
}
/* message textarea */
.msgtext {
  font-size: 8pt;
}
/* messages table */
.msg {
  padding: 2px;
  font-size: 8pt;
  color: black;
}
.msg TD {
  font-size: 8pt;
}
/* entry text */
.eol {
	line-height: 14pt;
}
/* entry id */
.ei {
  color: #636363;
  margin: 0;
  padding: 0;
  font-size: 7pt;
}
/* regular tab */
.tab {
  padding-top:2px;
  border-bottom: 2px inset #C2C2C2;
  font-size: 7pt;
  white-space: nowrap;
}
.tab div {
  line-height: 12pt;
  white-space: nowrap;
  margin-left: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 0;
  border: 1px solid #C2C2C2;
  border-right: 1px solid #C2C2C2;
  border-bottom: 0;
}
.tab a:hover {
  background-color: transparent;
}
/* selected tab */
.tabsel {
  border: 1px solid #626262;
  line-height: 11pt;
  white-space: nowrap;
  font-size: 7pt;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: default;
  border-bottom:0;
  white-space: nowrap;
}
/* tab contents */
.tabin {
  border: 1px solid #626262;
  border-top: 0;
  padding: 4px;
  height: 245px;
  font-size: 8pt;
}

/* vertical tab */
.vtab {
  padding-right:2px;
  border-left: 1px solid #626262;
  font-size: 7pt;
  white-space: nowrap;
  cursor:pointer;
}
.vtab div {
  line-height: 12pt;
  white-space: nowrap;
  margin-top: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 2px;
  padding-left: 0;
  border: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  border-left: 0;
}
.vtab a:hover {
  background-color: transparent;
}
/* vertical selected tab */
.vtabsel {
  border: 1px solid #626262;
  line-height: 11pt;
  white-space: nowrap;
  font-size: 7pt;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: default;
  border-left:0;
  white-space: nowrap;
}
/* vertical tab contents */
.vtabin {
  border: 1px solid #626262;
  border-right: 0;
  padding: 4px;
  height: 245px;
  font-size: 8pt;
}
/* hayvan ara */
.adiv {
  display:block;
  position:absolute;
  left:215px;
  width:18px;
  overflow:hidden;
}
.amain {
  background-color: #fff;
  width:80%;
  padding:2px;
 background-image: url(lustfm_habg.jpg);
 background-repeat: repeat-x;
 background-position: top;
 background-attachment: fixed;
 color: #fff;
}
td.amain {
  font-size: 8pt;
  }
.aup {
  border-right:0px solid #31303C;
  height:18px
}
.amid {
    background-color: #cccccc;
    border: 1px outset;
    border-right: 0;
    padding: 4px;
    line-height: 8pt;
    font-weight: bold;
    font-size: 8pt;
    cursor: pointer;
    text-align: center;
}
.abot {
  border:0px solid #FFFFFF;
  height:140px
}
/* default styles */
body {
  font: 9pt Verdana, sans-serif;
  background-color: #ffffff;
  color: #545454;
}
ul {
	list-style-type: lower-roman;
  line-height: 12pt;
}
a {
  color: #B50030;
  text-decoration: none;
}
a:hover {
  background-color: #F0F0F0;
}
select, input, optgroup {
  font: 8pt Verdana, sans-serif;
  background-color: #F5F5F5;
  border: 1px solid #B9B9B9;
}
textarea {
  font: 9pt Verdana, sans-serif;
  width:98%;
  background-color: #F5F5F5;
  border: 1px solid #B9B9B9;
}
hr {
  color: #F3F3F3;
}
th {
	font-size: 9pt;
}
td {
	font-size: 9pt;
	line-height: 12pt;
	vertical-align: top;
}
p {
  font-size: 9pt;
  line-height: 14pt;
  vertical-align: top;
}
img, form, table {
  padding: 0;
  margin: 0;
  border: 0;
}
dd {
  margin: 0;
  padding: 0;
}
fieldset {
	margin: 0;
	padding: 2;
	border:1px solid #C2C2C2;
	color: #000000;
}
.checkbox, .radio {
	border: none;
	background-color: transparent;
}
