/* statistics bar */
.statbar {
    text-align:right;
    white-space:nowrap;
} 

/* left frame lists */
.index {
    width:200px;
    list-style-type: none;
    margin: 0;
    overflow:hidden;
    padding: 0;    
    padding-left: 8px;
    text-indent: -8px;
}

.index > li {
    width: 100%;
    margin: 0;
}

.index > li a{
    
	font-weight:normal !important;
}

.index > li:before {
    content: "\00B7\00A0"; /* middot */
}

/* entry menu box */
.entrymenu {
    visibility:hidden;
}

/* share div */
.shd {
  width:119px;
  padding-bottom: 2px;
  display:none;  
  text-align:center;
}

/* share icons (f, tw, ff, etc) */
.sharelink {
  width:16px;
  height:16px;
  padding: 0;
  margin: 0;
  border:0;
}

/* login box */
.loginbox {
    width: 220px;
    margin: 0px auto;
}

/* author badge */
.badge {
    display:inline-block;
    border:1px outset;
    padding:2px 5px 4px 5px;
    margin: 2px;
    text-align:center; 
    cursor: default;
}

/* author info pane */
.infopane {
	border: 1px solid;
    margin: 5px;
    overflow: hidden;
}
/* author info content inside infopane */
.infocontent {
	padding-left:3px;
	padding-right:3px;
	overflow:hidden;
}

/* infopane header left and right */
.infopanehdr {
	width: 100%;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	line-height: 2;
}

/* author info note text area */
.infonote {
	border-top:1px solid;
	border-bottom:1px solid;
	margin-bottom:5px;
}
/* author info query bar */
.infoquerybar {
   float :right;
   margin-right:40px;
   margin-top:80px;   
}

/* history diff colors */
ins {
    background-color: #b1cc8e;
    text-decoration: none;
}

del {
    background-color: #c28181;
}

.blockdel {
    background-color: #c28181;
}

.blockins {
    background-color: #b1cc8e;
}

.blockedit {
    background-color: transparent;
}

/* login inputs */
.lin {
    width: 100%;
}

/* http://url links */
.url {
    padding-right: 10px;
    background: url(url.png) no-repeat right top;   
}

/* (bkz: ) links */
.b {
}

/* (ara: ) links */
.ara {
}

/* `gorunmez bkz` */
.gb {
}

/* akilli bkz* */
.ab {
}

/* ampul abi */
.ampul {
    list-style-image: url(ampul.png);
    margin-left: 0px;
}
/* info section headers */
.infosec {
    border: 1px outset;
    cursor: pointer;
}
/* right panel */
.panel {
    width: 160px;
    padding: 0;
    padding-left: -2px;
    border: 0;
    font-size: x-small;
	margin-right:2px
}
/* arastir dropdown select */
.asl {
    width: 159px !important;
    margin: 0;
}
/* ad box */
.spot {
    width: 120px;
    float: right;
}
.spot TD {
    font-size: 7pt;
}

/* badilist */
#badi {
    width: 120px;
    padding: 2px;
    font-size: 7pt;
    overflow: hidden;
    border: 1px inset;
}
/* inline search textbox */
.aratext {
    width: 110px !important;
}
/* left frame background class */
.bgleft {
    overflow-x: hidden;
}
/* top frame background class */
.bgtop {

    margin: 0;
    padding: 0;
    overflow: hidden !important;
}
/* inline search marker */
.marker {
    background-color: yellow;
    color: black;
}
/* pager buttons */
.pbut {
    font-size: 7pt;
    width: 16px;
    height: 16px;
}
/* top buttons */

.nav{margin-top:0px;}

.nav TD {
	
    padding: 2px;
    height: 8px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.langtop{color:#1C1C1C; font-size:12px;   width:35px; margin-right:12px}
.langtop:hover{text-shadow: 0 2px 0.7em #fff, 0px 0px 0.7em #fff,
        0px 0px 0.7em #fff; background:none  }


/* panel leds */
.pmsg {
    background-color: #006000;
}
.pmsghi {
    background-color: #00f000;
}
.pbin {
    background-color: #606000;
}
.pbinhi {
    background-color: #f0f000;
}
.pevt {
    background-color: #606000;
}
.pevthi {
    background-color: #f0f000;
}
/* page browser text */
.pagi {
    font-size: x-small;
    text-align: center;
}
.pagi select {
    font-size: smaller;
}
.pagi a {
    font-size: small;
}
/* ekþisözlük logo! */
.logo {
    background-image: url(logogrey.png);
    background-repeat: no-repeat;
    width: 233px;
    height: 50px;
    cursor: default;
}
/* highlight color */
.highlight {
    background-color: #c0c0c0;
}
/* copyright line */
.copyright {
    font-size: 7pt;
    color: #404040;
}
/* topic title */
.title {
    font: bold 12pt Verdana, sans-serif;
    background-color: transparent;
    width: 100%;
    color: #000080;
    border: none;
    white-space: nowrap;
}
/* buttons */
.but {
    font: 8pt Arial,sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: default;
    background-color: #566484;
    color: white;
    border: 2px outset #a6b4d4;
}
/* small buttons under "araþtýr" bar */
.minibut {
    width: 24px;
    margin: 1px;
    display: inline-block;
}
/* button mouse over */
#butOver {
    background-color: #667494;
}
/* button pressed */
#butDown {
    border: 2px inset;
}
/* button link adjustments */
.but A {
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.but A:Hover {
    background-color: transparent;
    color: white;
}
#butOver A {
    color: white;
}
#butOver A:Hover {
    background-color: transparent;
    color: white;
}
/* entry buttons (derived from but) */
.icon {
    font-size: 7pt;
}
.timer {
    font-size: 7pt;
    vertical-align: middle;
}
/* entry author line */
.aul {
    font-size: 8pt;
    line-height: 9pt;
    text-align: right;
}
/* panel classes */
.pi {
    border: 1px inset;
    font-size: 7pt;
    padding: 0px;
	
	}
	
.pi A:Hover {
    background-color: transparent;
}
/* top inputtexts */
.input {
    height: 12px;
    font: 7pt Verdana, sans-serif;
}
/* message textarea */
.msgtext {
    font-size: 8pt;
}
/* messages table */
.msg {
    padding: 2px;
    font-size: 8pt;
    color: black;
}
.msg TD {
    font-size: 8pt;
}
/* entry text */
.eol {
    line-height: 14pt;

	
	}

/* entry id */
.ei {
    color: #808080;
    margin: 0;
    padding: 0;
    font-size: 7pt;
}
/* regular tab */
.tab {
    padding-top: 2px;
    border-bottom: 2px inset;
    font-size: 7pt;
    white-space: nowrap;
}
.tab DIV {
    line-height: 12pt;
    white-space: nowrap;
    margin-left: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 0;
    border: 2px outset;
    border-right: 1px outset;
    border-bottom: 0;
}
.tab A:Hover {
    background-color: transparent;
}
/* selected tab */
.tabsel {
    border: 2px outset;
    line-height: 11pt;
    white-space: nowrap;
    font-size: 7pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: default;
    border-bottom: 0;
    white-space: nowrap;
}
/* tab contents */
.tabin {
    border: 2px outset;
    border-top: 0;
    padding: 4px;
    height: 245px;
    font-size: 8pt;
}

/* vertical tab */
.vtab {
    padding-right: 2px;
    border-left: 2px inset;
    font-size: 7pt;
    white-space: nowrap;
    cursor: pointer;
}
.vtab DIV {
    line-height: 12pt;
    white-space: nowrap;
    margin-top: 0;
    padding: 4px 2px 4px 3px;
    border: 2px outset;
    border-top: 1px outset;
    border-left: 0;
}
.vtab A:Hover {
    background-color: transparent;
}
/* vertical selected tab */
.vtabsel {
    border: 2px outset;
    line-height: 11pt;
    white-space: nowrap;
    font-size: 7pt;
    padding: 4px 2px 4px 5px;
    cursor: default;
    border-left: 0;
    white-space: nowrap;
}
/* vertical tab contents */
.vtabin {
    border: 2px outset;
    border-right: 0;
    padding: 4px 10px 4px 4px;
    height: 245px; /* min */
    font-size: 8pt;
}

/* hayvan ara */
.adiv {
    display: block;
    position: absolute;
    top: 44px;
    left: 213px;
    width: 15px;
    overflow: hidden;
}
.amain {
    background-color: #cccccc;
    border: 1px outset;
    border-left: 0;
    padding: 4px;
}
TD.amain {
    font-size: 8pt;
}
.aup {
    border-right: 1px inset;
    height: 18px;
}
.amid {
    background-color: #cccccc;
    border: 1px outset;
    border-right: 0;
    padding: 4px;
    line-height: 8pt;
    font-weight: bold;
    font-size: 8pt;
    cursor: pointer;
    text-align: center;
}
.abot {
    border-right: 1px inset;
    height: 140px;
}
.link:hover {
    cursor: pointer;
}
.csseditbox {
    width: 100%;
    font-family: Consolas, Monospace;
}
/* default styles */
body {
    font: 9pt Verdana, sans-serif;
    background-color: #cccccc;
    color: black;
    height: 100%;
	
}

iframe {
    border: none;
}
ul {
    line-height: 12pt;
}
a {
    color: #000080;
    text-decoration: none;
}
a:hover {
    background-color: #c0c0c0;
}
select, input, optgroup {
    font: 8pt Verdana, sans-serif;
}
textarea {
    font: 9pt Verdana, sans-serif;
    width: 99%;
    padding: 0;
    margin: 0;
    border: 0;
}
hr {
    color: black;
    height: 1px;
}
th {
    font-size: 9pt;
}
td {
    font-size: 9pt;
    line-height: 12pt;
    vertical-align: top;
}
p {
    font-size: 9pt;
    line-height: 14pt;
    vertical-align: top;
}
img, form, table {
    padding: 0;
    margin: 0;
    border: 0;
}
dd {
    margin: 0;
    padding: 0;
}
fieldset {
    margin: 0;
    padding: 2px;
}
.checkbox, .radio {
    border: none;
    background-color: transparent;
}
li {
    margin-left: 14px;
    margin-right: 4px;
    padding: 0;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;}
