.pmsg {
	background: #F2D99E;
	font: normal bold Bookman Old Style;
	padding: 0px;
	border: 1px solid #fff5bb;
}
.pmsghi {
	background: #975F27;
	font: normal bold Bookman Old Style;
	padding: 0px;
	border: 1px solid #fff5bb;
}
.pbin {
	background: #F2D99E;
	font: normal bold Bookman Old Style;
	padding: 0px;
	border: 1px solid #fff5bb;
}
.pbinhi {
	background: #975F27;
	font: normal bold Bookman Old Style;
	padding: 0px;
		border: 1px solid #fff5bb;
}
.pevt {
	background: #F2D99E;
	font: normal bold Bookman Old Style;
	padding: 0px;
		border: 1px solid #fff5bb;
}
.pevthi {
	background: #975F27;
	font: normal bold Bookman Old Style;
	padding: 0px;
		border: 1px solid #fff5bb;
}
.piki {
	BORDER-RIGHT: 0px outset; BORDER-TOP: 0px outset;  
	VISIBILITY: hidden; 
	BORDER-LEFT: 0px outset; WIDTH: 0px; 
	BORDER-BOTTOM: 0px outset; 
	POSITION: absolute 
}
.pagi {
  TEXT-ALIGN: center;
  font : normal bold Bookman Old Style;
}

.highlight
{
	font: bold Bookman Old Style;
	padding: 2px;
background:#F2D99E;
}

/* topic title */
.title {
  font: bold 15pt Bookman Old Style;
  width: 100%;
  text-decoration: none;
text-transform: capitalize;
   }

/* badilist */
.au {
  font: normal 8pt Bookman Old Style;
  	border: 1px solid #fff5bb;
}

/* buttons */
.but {
  font: normal 9pt Bookman Old Style;
  text-align:left;
  white-space:nowrap;
  cursor: default;
  background-color: #FFF5bb;
  color: black;
  border: 0px outset #a6b4d4;
text-transform: uppercase;
}
/* button mouse over */
#butOver {
  background-color: #F2D99E;
}
/* button pressed */
#butDown {
    border: 2px inset;
}
/* button link adjustments */
.but A {
  color:black;
}
.but A:Hover {
  background-color: transparent;
  color:black;
}
#butOver A {
  color:black;
}
#butOver A:Hover {
  background-color: transparent;
  color:black;
}

#el li {margin-bottom:40px;line-height:20px;text-align:justify;}
#el li:first-letter {text-transform: uppercase;}
#sb_gn table {width:360px;}
#sb_gn table td {width:180px;}
#sb_ms {margin-left:15px;}
#sb_1, #sb_2, #sb_3, #sb_4, #sb_5 {font-size:10pt;}
.vtab div {text-transform: uppercase;}
form ul {font-size:10pt;text-align:justify;}
form ul li input {padding:10px;}

.index li {margin-bottom:20px;color:#E9BD58;font-size:12px;}
.index li a {font-weight:bold;font-size:12px;text-transform: capitalize;}

.infopane {border:1px solid #F2D99E;}
.infopanehdr {text-align:left;text-transform: uppercase;font-weight:bold;}
.infocontent {padding:10px;}
.infocontent a {font-weight:normal;}

.nav {margin-left:100px;}

/* entry buttons (derived from but) */
.icon {
  font: 100% Bookman Old Style;
  border : 0px outset brown;   
  color: black;
background:#F2D99E;
}

.msgtext {
  font:  normal Bookman Old Style;  
  color: black;
font-size:10pt;
}

.timer {
  font: normal Bookman Old Style;
  vertical-align: middle;
}

/* author link */
.aul {
  font: bold Bookman Old Style;
margin-bottom:15px;
}

/* panel classes */
.pi {
	font: bold Bookman Old Style;
	padding: 1px;
	text-align: center;
text-transform: uppercase;
}

.panel {width:150px;padding-left:30px;padding-bottom:30px;} 

.pi a:Hover {
  background: transparent;
  color: #FFFF66;
}

/* top inputtexts */
.input {
  height:16px;
  font: bold Bookman Old Style;
  color: black;
}

/* messages table */
.msg {
	border: 0px outset;
	border-collapse: collapse;
	padding: 2px;
	display: block;
	position: relative;
	font: bold Bookman Old Style;
	border-color: red ;
        color: black;
font-size:10pt;
}

.msg TD {
	font: bold Bookman Old Style;
        color: black;
margin-bottom:15px;
font-size:10pt;
}

/* entry table */
.entries {
  table-layout:fixed;
  border-collapse:collapse;
  width: 100%;
  font: bold Bookman Old Style;
margin-bottom:10px;
}


/* alphabet chars */
.alpha {
  font: bold Bookman Old Style;
  background: #F2D99E;
}

/* hayvan ara tab */

.adiv {
  display:block;
  position:absolute;
  top:20px;
  left:215px;
  width:18px;
  overflow:hidden
}

.amain {
  border-right:2px outset; border-top:2px outset; border-bottom:2px outset; background: #fff5bb;
  border-left:0px none;
  padding:4px
}

.aup {
  border-right:1px inset;
  height:30px
}

.amid {
  border-left:2px outset #E6B84A; border-top:2px outset #E6B84A; border-bottom:2px outset #E6B84A; background: #fff5bb;
  border-right:0px none;
  padding:4px;
  line-height:8pt;
  
  cursor:hand;
  color: black; font-style:normal; font-variant:normal; font-weight:bold; font-size:10pt
}

.abot {
  border-right:1px inset;
  height:140px
}


BODY {
 background : #FFF5bb;
 font-family: Bookman Old Style;
 font-size:11pt;
 color : black;
 scrollbar-base-color : #fff5bb;
 text-decoration: none;
}

a {
	font-weight:bold;
	color: black;
	background: transparent;
	text-decoration: none;
}

a:hover {
	font-weight:bold;
	color : black;
	background: #FFFF66;
	text-decoration: none;
}

.tedit {
  font: bold;
  background: #F2D99E;
  border : 0px solid Black;
}

TEXTAREA {
	font-family:Bookman Old Style;
	width: 97%;
	background: #F2D99E;
	border : 0px solid black;
	color: black;
font-size:130%;
}

HR {
  color: black;
}

TR {
  vertical-align:top;
}

TD {
  font-size: 10pt;
padding-bottom:8px;
}

TD:first-letter {text-transform: uppercase;}

.copyright {
	font: 8pt Verdana;
	color: #E6B84A;
}

.bgtop {
    margin: 2;
    overflow: hidden !important;
}
.logo {
    background-image: url(saman_logo.gif);
    width: 200px;
}
/* regular tab */
.tab {
    padding-top: 2px;
    border-bottom: 2px inset;
    font-size: 10pt;
    white-space: nowrap;
}
.tab DIV {
    line-height: 12pt;
    white-space: nowrap;
    margin-left: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 0;
    border: 2px outset;
    border-right: 1px outset;
    border-bottom: 0;
}
.tab A:Hover {
    background-color: transparent;
}
/* selected tab */
.tabsel {
    border: 2px outset;
    line-height: 11pt;
    white-space: nowrap;
    font-size: 10pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: default;
    border-bottom: 0;
    white-space: nowrap;
}
/* tab contents */
.tabin {
    border: 2px outset;
    border-top: 0;
    padding: 4px;
    height: 245px;
    font-size: 8pt;
}
