BODY {
 background : #EFEFEF;
 font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
 font-size:11pt;
 color : black;
 scrollbar-base-color : #EFEFEF;
 text-decoration: none;
}

a {
	font-weight:bold;
	color: black;
	background: transparent;
	text-decoration: none;
}

a:hover {
	font-weight:bold;
	color : black;
	background: #FFFF66;
	text-decoration: none;
}

a img,a:visited img {border: none; background: none;}

.tedit {
  font: bold;
  background: #C8C8C8;
  border : 0px solid Black;
}

TEXTAREA {
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	width: 100%;
	background: #C8C8C8;
	color: black;
	font-size:110%;
	border: 1px solid #000;
}

HR {
  color: black;
}

TR {
  vertical-align:top;
}

TD {
  font-size: 10pt;
  padding-bottom:5px;
}

TD:first-letter {text-transform: uppercase;}

.pmsg {
	background: #C8C8C8;
	font: normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 0px;
	background: #C8C8C8;
	color: black;
	font-size:90%;
	text-align:center;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.pmsghi {
	background: #975F27;
	font: normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 0px;
	border: 1px solid #EFEFEF;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.pbin {
	background: #C8C8C8;
	font: normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 0px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.pbinhi {
	background: #975F27;
	font: normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 0px;
	border-bottom: 1px solid #000;
}
.pevt {
	background: #C8C8C8;
	font: normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 0px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.pevthi {
	background: #975F27;
	font: normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 0px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.piki {
	BORDER-RIGHT: 0px outset; BORDER-TOP: 0px outset;  
	VISIBILITY: hidden; 
	BORDER-LEFT: 0px outset; WIDTH: 0px; 
	BORDER-BOTTOM: 0px outset; 
	POSITION: absolute 
}
.pagi {
  TEXT-ALIGN: center;
  font : normal bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.highlight
{
	font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	padding: 2px;
	background: #C8C8C8;
	color: black;
	font-size:110%;
	border-bottom: 1px solid #000;
}

/* topic title */
.title {
  font: bold 15pt 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  width: 100%;
  text-decoration: none;
text-transform: capitalize;
   }

/* badilist */
.au {
  font: normal 8pt 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}

/* buttons */
.but {
  font: bold 10pt 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-align:left;
  white-space:nowrap;
  cursor: default;
  background-color: #EFEFEF;
  color: black;
  text-transform: uppercase;
}
/* button mouse over */
#butOver {
  background-color: #C8C8C8;
}
/* button pressed */
#butDown {
    border: 2px inset;
}
/* button link adjustments */
.but A {
  color:black;
}
.but A:Hover {
  background-color: transparent;
  color:black;
}
#butOver A {
  color:black;
}
#butOver A:Hover {
  background-color: transparent;
  color:black;
}

#el li {margin-bottom:40px;line-height:20px;text-align:justify;}
#el li:first-letter {text-transform: uppercase;}
#sb_gn table {width:360px;}
#sb_gn table td {width:180px;}
#sb_ms {margin-left:15px;}
#sb_1, #sb_2, #sb_3, #sb_4, #sb_5 {font-size:10pt;}
.vtab div {text-transform: uppercase;}
form ul {font-size:10pt;text-align:justify;}
form ul li input {padding:10px;}

.index li {margin-bottom:20px;color:#E9BD58;font-size:12px;}
.index li a {font-weight:bold;font-size:12px;text-transform: capitalize;}

.infopane {border:1px solid #C8C8C8;}
.infopanehdr {text-align:left;text-transform: uppercase;font-weight:bold;}
.infocontent {padding:10px;}
.infocontent a {font-weight:normal;}

.nav {margin-left:50px;}

/* entry buttons (derived from but) */
.icon {
  font: 100% 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  border : 0px outset brown;   
  color: black;
background:#C8C8C8;
}

.msgtext {
  font:  normal 'Palatino Linotype', 'Book Antiqua', Palatino, serif;  
  color: black;
font-size:10pt;
}

.timer {
  font: normal 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  vertical-align: middle;
}

/* author link */
.aul {
  font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
margin-bottom:15px;
}

/* panel classes */
.pi {
	font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	text-align: center;
	text-transform: uppercase;
	
}

.panel {width:150px;padding-left:0px;padding-bottom:30px;} 

.pi a:Hover {
  background: transparent;
  color: #FFFF66;
}

/* top inputtexts */
.input {
  height:16px;
  font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: black;
}

/* messages table */
.msg {
	border: 0px outset;
	border-collapse: collapse;
	padding: 2px;
	display: block;
	position: relative;
	font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	border-color: red ;
        color: black;
font-size:10pt;
}

.msg TD {
	font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
        color: black;
margin-bottom:15px;
font-size:10pt;
}

/* entry table */
.entries {
  table-layout:fixed;
  border-collapse:collapse;
  width: 100%;
  font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
margin-bottom:10px;
}


/* alphabet chars */
.alpha {
  font: bold 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  background: #C8C8C8;
}

/* hayvan ara tab */

.adiv {
  display:block;
  position:absolute;
  top:20px;
  left:215px;
  width:18px;
  overflow:hidden
}

.amain {
  border-right:2px outset; border-top:2px outset; border-bottom:2px outset; background: #EFEFEF;
  border-left:0px none;
  padding:4px
}

.aup {
  border-right:1px inset;
  height:30px
}

.amid {
  border-left:2px outset #000; border-top:2px outset #000; border-bottom:2px outset #000; background: #EFEFEF;
  border-right:0px none;
  padding:4px;
  line-height:8pt;
  
  cursor:hand;
  color: black; font-style:normal; font-variant:normal; font-weight:bold; font-size:10pt
}

.abot {
  border-right:1px inset;
  height:140px
}

.copyright {
	font: 8pt Verdana;
	color: #E6B84A;
}

.bgtop {
    margin: 2;
    overflow: hidden !important;
}
.logo {
    background-image: url(klasik.jpg);
    width: 200px;
}
/* regular tab */
.tab {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11pt;
    padding-top: 2px;
    border-bottom: 2px inset;
    font-size: 10pt;
    white-space: nowrap;
	width:100px;
	text-align: center;
}
.tab DIV {
    line-height: 12pt;
    white-space: nowrap;
    padding-bottom: 0;
    border: 2px outset;
    border-right: 1px outset;
    border-bottom: 0;
	width:100px;
	padding: 5px;
}
.tab A:Hover {
    background-color: transparent;
}
/* selected tab */
.tabsel {
    border: 2px outset;
    cursor: default;
    border-bottom: 10px;
	width: 200px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:9pt;
	width: 10%;
	padding: 5px;
	text-align: center;
}
/* tab contents */
.tabin {
    border: 2px outset;
    border-top: 0;
    padding: 4px;
    height: 245px;
    font-size: 8pt;
	width:100px;
}
/* vertical tab */
.vtab {
  padding-right:2px;
  border-left: #000 1px solid;
  font-size: 8pt;
  white-space: nowrap;
  cursor:pointer;  
}
.vtab DIV {
  line-height: 12pt;
  white-space: nowrap;
  padding: 4px 2px 4px 3px;
  border: #000 1px solid;
  border-top: #000 1px solid;
  border-left: 0;
}
.vtab A:Hover {
  background-color: transparent;
}
/* vertical selected tab */
.vtabsel {
  border: #000 1px solid;
  background-color: #C8C8C8;
  line-height: 12pt;
  white-space: nowrap;
  font-size: 9pt;
  padding: 4px 2px 4px 5px;
  cursor: default;
  border-left:0;
  white-space: nowrap;
  font-weight:bold;
  text-transform: uppercase;
}
/* vertical tab contents */
.vtabin {
  border: #000 1px solid;
  border-right: 0;  
  padding: 4px 10px 4px 4px;
  height:245px; /* min */
  font-size: 8pt;
}
.bgtop input{
	background-color: #C8C8C8;
	border: 1px solid #000;
	height: 23px;
}

.lm-wrapper .lm-menu { border:1px solid silver; border-top:1px solid silver; padding:10px; z-index:10; position:absolute; margin-top:-1px; background:#C8C8C8; display:none; }

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;}
