#fmt3{

width:225px; border:solid 0px #cdcdcd;
}
#fmt3 ul{
list-style:none;
margin-left: -35px;
}
#fmt3 li{
list-style:none;
width:195px;
height:30px;
margin:5px 0;
display:block;
}
#fmt3 li a{
list-style:none;
display:block;
color:#747474;
font-weight:bold;
text-transform:uppercase;
font-size:10px;
text-decoration:none;
line-height:30px;
text-indent:7px;
background:url(fmt-h-3.jpg) no-repeat;
}
#fmt3 li a:hover{
list-style:none;
display:block;
background:url(fmt-c-3.jpg) repeat-x left;
color:#fff;
text-transform:uppercase;
text-decoration:none;
}
#fmt3 li .current{
list-style:none;
display:block;
background:url(fmt-c-3.jpg) repeat-x left;
color:#fff;
text-transform:uppercase;
text-decoration:none;
}
#fmt3 li a.current, #fmt3 li a:hover.current{
background:url(fmt-c-3.jpg) repeat-x left;
color:#fff;
text-decoration:none;					
}
.menuIcon{
margin-top:5px;
}