body {
  background:#E6E6E6 !important; 
  color: #000;
	font-style:normal; font-variant:normal; font-weight:normal; font-size:10pt; font-family:Verdana, sans-serif;
	scrollbar-3dlight-color:black;
                scrollbar-arrow-color:gray;
                scrollbar-track-color:gray;
                scrollbar-darkshadow-color:black;
                scrollbar-face-color:black;
                scrollbar-highlight-color:black;
                scrollbar-shadow-color:black
}


/* links */
a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	text-decoration: none;
	color: #001166;
	background-color:#dcdcdc;
}

/* main div */
#main1 {
	width: 800px;
	margin: 20px auto 0;
}
#name{
	margin-bottom:2px;
	padding-bottom:2px;
	margin-top:10px;
	padding-top:3px;
	text-align:left; 
	color:#f2f2f2;

}
.namep1{
	margin:0px;
	padding:0px;
	text-align:left;
	color:#f2f2f2;
	}
.namep2{
	margin-top:3px;
	padding-top:3px;
	margin-left:0;
	padding-left:0px;
	margin-bottom:7px;
	padding-bottom:7px;
	text-align:left; 
}
#baslik{
	margin:0px;
	padding:0px;
	display:block;

}
#baslik1{
	height:60px;
	border:solid 1px outset;
	padding:10px;
	padding-bottom:0px;
	padding-top:5px;
	border-color: #3399ff;
	background-color: #A8A7A7;
	padding-left:10px; padding-right:10px
}
#baslik1 a{color:#fff;}
#baslik1 a:hover{color:#336699; background-color:#ffcc00;}

#entryler{
	border: 1px solid;
	border-color: #000;
	background-color: #EEEEEE;
	padding:5px;
	padding-right:0px;
	float:left;
	display:block;
	width:790px;
	padding-left:10px;
}
#sayfala{
	border:dotted 1px;
	padding:7px;
	padding-left:5px;
	border-color: #e8e9ec;
	background-color: #e8e9ec;
	clear:both;
}
#uuright{
	float:right;
	background-color: #A8A7A7;
	width:190px;
	padding:10px;
	margin:1px;
	/*margin-right:1px;
	margin-top:3px;*/
	display:block;
	clear:right;
	border:#3399ff solid 1px outset;
}
#uuright a{color:#fff;}
#uuright a:hover{color:#336699; background-color:#e8e8e8;}

/* entry metinleri ol li */
.ols{
	line-height:14pt;
	margin-bottom:1px;
}
.entryalti{
	width:100%;
	height:0px;
	background-color:#e8e8e8;
	margin:0px;
	margin-bottom:7px;
	padding:0px;
}
h2 a{
	font-size:12pt;
}
h1{
	font-size:10pt;
}
.sonbaslik{
	padding:4px;
	font-weight:bold;
	color:#fff;
}

/* body td input */
td{
 	font-family:  verdana, sans-serif;
	font-size:9pt;
	text-transform:lowercase;
} 

input{
	font-size:7pt;
	color:#336699;
}
.alttakiyazi{ color:#888888; font-size:10px; }


.linkler {
  font: 8pt arial,sans-serif;
  text-align:center;
  white-space:nowrap;
  cursor: default;
  background-color: #566484;
  color: white;
  border: 2px outset #a6b4d4;
}
.linkler a, .linkler a:active, .linkler a:link, .linkler a:visited{
  font: 8pt arial,sans-serif;
  white-space:nowrap;
  color: white;
}
.linkler a:hover{
  background-color: transparent;
  color:white;
}

#butover {
  background-color: #667494;
}
#butdown {
	border: 2px inset;
}
#butover a {
  color:white;
}
#butover a:hover {
  background-color: transparent;
  color:white;
